<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

    <joint name="camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <origin xyz="0.0 0 0.00" rpy="0.0 0 -1.57"/>
    </joint>

    <link name="camera_link">
      <visual>
        <geometry>
          <box size="0.03 0.03 0.03"/>
        </geometry>
        <material name="purple"/>
        <origin xyz="-0.001 0 0" rpy="0.0 0 0"/>
      </visual>
    </link>

</robot>